/* Experience Style */
#experience {
  margin-top: 50px;
}

.cc-experience .card {
  margin: 20px 0px;
  box-shadow: 5px 10px;
}

.cc-experience .cc-experience-header {
  padding-top: 60px;
  padding-right: 0;
  text-align: center;
  color: #fff;
}