* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --black: #080808;
  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --navy: #000080;
  --cyan: #17a2b8;
  --violetred: #c71585;
  --red: #ff0000;
  --orange: #ffa500;
  --green: #006400;
  --main-bg-color: #b3d6f5;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--gray1);
  background-color: var(--main-bg-color);
}

/* Navbar style*/
.navbar {
  font-size: 18px;
  letter-spacing: 1px; 
}

.nav-link {
  color: var(--white);
}

.page-header-image {
  margin-top: 20px;
}
#about {
  margin-top: 100px;
}